.App {
  text-align: center;
}

body{
  background-color: rgb(27, 27, 27);
}

@media (min-width: 576px) {
  .carousel-item img{
    width: auto !important;
    height: 500px;
    max-height: 500px;
  }
}

::-webkit-scrollbar{
  width: 8px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card:hover .overlay{
  opacity: 1;  
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 1s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}